
listViewItem, screenItem, screenItemSelected, controlItem {
	display: inline-block;
	width: calc(100% - 6px);
	margin-top: 1px;
	padding: 3px;
	user-select: none;
	background: #eee;
}

listViewItem:hover {
	background: #aaa;
}


screenItem {
	background: #ddd;
}

screenItemSelected {
	background: #999;
}

screenItem:hover {
	background: #ccc;
}

controlItem {
	margin-left: 15px;
	width: calc(100% - 15px - 6px);
	background: inherit;
}

controlItem:hover {
	background: #ddd;
}
