* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#topPanel {
	display: inline-block;
	width: 100%;
	background: #eee;
	margin: 0px;
	height:24px;
}

#panelMain {
	display: block;
	height: calc(100vh - 24px);
	width: 100%;
}

#panelToolbox{
	width: 100px;
	height: 100%;
	float: left;
	border: solid 1px #000000;
	background-color: #fff;
}

#panelMiddle {
	float: left;
	height: calc(100% - 4px);
	width: calc(100% - 100px - 230px);
	padding: 0px 3px 0px 3px;
}

#panelTreeProps{
	float: right;
	display: block;
	height: calc(100% - 2px);
	width: 230px;
}




